<section class="footer-container">
<div>
  <img src="../../../assets/images/logo.svg" alt="" class="logo">
  </div>
  <div class="link-one">
    <p>FAQs</p>
    <p>Contact Us</p>
  </div>
  <div class="link-two">
    <p>Privacy Policy </p>
    <p>Press Kit </p>
  </div>
  <div class="link-three">
    <p>Install Guide</p>
 </div>
 <div class="app-icons">
<img src="../../../assets/images/icon-facebook.svg" alt="" class="facebook-icon" >
<img src="../../../assets/images/icon-twitter.svg" alt="" class="twitter-icon">
<img src="../../../assets/images/icon-instagram.svg" alt="" class="instagram-icon">
 </div>

</section>
