@import "../../../styles.scss";

.hero-container
{
  text-align: center;
  margin:0;
  background-image: url('assets/images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;


   .logo{
    margin-top: 120px;
   }

   .hero-address{
    @include font($fontWeight:600,$fontSize:40px);
    color:$Dark-Grayish-Blue;

   }
   .hero-text{
    margin-top: -11px;
    color:$Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
   }
   .btn-download{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top: 50px;

     button{
      padding:16px 35px;
      border-radius: 30px;
      border: none;
      @include font($fontWeight:500,$fontSize:18px);
      color: white;


     }
    .btn-ios{
       background-color:rgba($color: $Strong-Cyan, $alpha: 0.68)  ;
       box-shadow: -1px 3px 2px $Strong-Cyan;
    }
    .btn-mac{
      background-color:rgba($color:$Light-Blue,$alpha:0.68);
      box-shadow: -1px 3px 2px $Light-Blue;

    }

   }
}
.btn-ios:hover{
  cursor: pointer;
  //background-color: $Strong-Cyan ;

}
@media only screen and (max-width: 500px){
  .hero-container{
    width:fit-content;
    padding-inline: 31px;
    background-image:url('assets/images/bg-header-mobile.png');

  }
  .btn-download{
    flex-wrap: wrap;
  }
  button{
    width: 100%;
  }

}


