@import "../../../styles.scss";

.container
{
  text-align: center;
  .header{
   img{
    margin-top: 120px;
   }
  }
   h1{
    @include font($fontWeight:600,$fontSize:40px);
    color:$Dark-Grayish-Blue;

   }
   P{
    margin-top: -11px;
    color:$Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
   }
   .btn-download{
    display: flex;
    justify-content: center;
    gap:15px;
     margin-top: 50px;

     button{
      padding:16px 35px;
      border-radius: 30px;
      border: none;
      @include font($fontWeight:500,$fontSize:18px);
      color: white;
      box-shadow: 0px 3px 2px #0000008a

     }
    .btn-ios{
       background-color:$Strong-Cyan;
    }
    .btn-mac{
      background-color: $Light-Blue;
    }

   }
}
@media only screen and (max-width: 500px){
  .container{
    width: 100%;
    padding-inline: 20px;
  }
  .btn-download{
    flex-wrap: wrap;
  }
  button{
    width: 100%;
  }

}


