<section class="container">
  <div class="text">
  <h1>Keep track of your snippets</h1>
  <p>Clipboard instantly stores any item you copy in the cloud, meaning you can access  <br>your snippets immediately on all your devices. Our Mac and iOS apps will help you<br> organize everything.</p>
  </div>
  <div class="info">
    <img src="../../../assets/images/image-computer.png">
    <ul>
      <li>
        <h1>Quick Search</h1>
        <p>Easily search your snippets by content,<br>
           category, web address, application, and more.</p>
      </li>
      <li>
        <h1> iCloud Sync</h1>
        <p>Instantly saves and syncs snippets across all <br> your devices.</p>
      </li>
      <li>
        <h1>Complete History</h1>
        <p>Retrieve any snippets from the first moment<br> you started using the app.</p>
      </li>
    </ul>
  </div>
</section>
