<section class="snippets-container">
  <div class="snippets-info">
  <h2 class="address-snippets">Keep track of your snippets</h2>
  <p class="text-snippets">Clipboard instantly stores any item you copy in the cloud, meaning you can access  <br>your snippets immediately on all your devices. Our Mac and iOS apps will help you<br> organize everything.</p>
  </div>
  <div class="info">
    <img class="computer-png" src="../../../assets/images/image-computer.png">
    <ul>
      <li>
        <h2 class="quick-search">Quick Search</h2>
        <p class="quick-search-text">Easily search your snippets by content,<br>
           category, web address, application, and more.</p>
      </li>
      <li>
        <h3 class="icloud-Sync"> iCloud Sync</h3>
        <p class="icloud-Sync-text">Instantly saves and syncs snippets across all <br> your devices.</p>
      </li>
      <li>
        <h4 class="complete-history">Complete History</h4>
        <p class="complete-history-text">Retrieve any snippets from the first moment<br> you started using the app.</p>
      </li>
    </ul>
  </div>
</section>
