@import '../../../styles.scss';
.container{
  margin-top: 150px;
.text
{
text-align: center;
h1{
  @include font($fontWeight:600,$fontSize:40px);
  color:$Dark-Grayish-Blue;
}
p{
  margin-top: -11px;
    color:$Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
}
}
.info{
  display: flex;
  margin-top: 100px;
  ul{
    list-style-type: none;
    margin-top: 30px;
    li{
      margin: 50px;
      line-height: 30px;
    }
    h1{
      @include font($fontWeight:600,$fontSize:18px);
      color: $Dark-Grayish-Blue;
      margin-bottom: -6px;
    }
    p{
      @include font($fontWeight:400,$fontSize:18px);
      color:$Grayish-Blue;
    }
  }
}
}
