@import '../../../styles.scss';
.snippets-container{
  margin-top: 150px;
.snippets-info
{
text-align: center;
.address-snippets{
  @include font($fontWeight:600,$fontSize:40px);
  color:$Dark-Grayish-Blue;
}
.text-snippets{
  margin-top: -11px;
    color:$Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
}
}
.info{
  display: flex;
  margin-top: 100px;
  ul{
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    li{
      margin: 50px;
      line-height: 30px;
    }
    .quick-search , .icloud-Sync ,.complete-history{
      @include font($fontWeight:600,$fontSize:18px);
      color: $Dark-Grayish-Blue;
      margin-bottom: -6px;
    }
    .quick-search-text,
    .icloud-Sync-text,
    .complete-history-text{
      @include font($fontWeight:400,$fontSize:18px);
      color:$Grayish-Blue;
    }
  }
}
}
@media only screen and (max-width: 500px){
  .snippets-container{
    padding-inline: 31px;
  }
   .info{
    flex-direction: column;
    text-align: center;
   }
}
