@import '../../../styles.scss';

.access-container{
  text-align: center;
  margin-top: 120px;
  .access-address{
    color: $Dark-Grayish-Blue;
    @include font($fontWeight:700,$fontSize:25px)
  }
  .access-text{
    color: $Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
  }
  .access-png{
    margin-top: 70px;
  }
}
@media only screen and (max-width: 500px){
  .access-container{
    display: flex;
    flex-direction: column;
    padding-inline: 31px;
  }

}
