@import '../../../styles.scss';

.container{
  text-align: center;
  margin-top: 120px;
  h1{
    color: $Dark-Grayish-Blue;
    @include font($fontWeight:700,$fontSize:25px)
  }
  p{
    color: $Grayish-Blue;
    @include font($fontWeight:400,$fontSize:18px)
  }
  img{
    margin-top: 70px;
  }
} 

