/* You can add global styles to this file, and also import other style files */
$Strong-Cyan:hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

@mixin font($fontWeight:400,$fontSize:18px){
  font-family: "Bai Jamjuree", serif;
  font-weight: $fontWeight;
  font-size: $fontSize;
}

body{
  margin:0;
  background-image: url(./assets/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;

}
@media only screen and (max-width: 500px){
  body{
    background-image:url(./assets/images/bg-header-mobile.png);

   

  }

}
